* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F6FF;
    color: #230045;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.pricing-table {
    width: 80vw;
    background-color: #FFF;
    border-radius: 20px;
    padding: 14px;
    z-index: 1;
    opacity: 0.8;
}

.card-wrapper {
    background: linear-gradient(45deg, #FFF0FF, #F5FDFF, #FFF7E9 );
    border-radius: 20px;
    padding: 40px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.price-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding-right: 40px;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.price-card:hover {
    box-shadow: 1px 1px 5px #46dddb;
    transform: scale(1.1);
}

p, .btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tier {
    font-size: 18px;
}

.price {
    font-size: 16px;
    font-weight: 700;
}

.price > span {
    font-size: 32px;
    font-weight: 900;
}

.offer > p:not(.price) {
    font-size: 10px;
    margin-top: 5px;
}

.detail {
    font-size: 14px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 12px;
    color: #000;
    background: linear-gradient(#230045 0 0) no-repeat;
    background-size: 200% 0.1rem;
    background-position: 200% 100%;
    transition: background-size .4s, background-position .4s .4s;
}

.btn:hover {
    background-size: 200% 100%;
    background-position: 100% 100%;
    transition: background-size .4s .4s, background-position .4s;
    color: #fff;
}

.btn-free {
    background-color: #FF84FF;
}
.btn-standard {
    background-color: #89FAF9;
}
.btn-premium {
    background-color: #89FAF9;
}


.green-circle {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 200px 0 100px #B3FFFF;
    top: 120px;
    left: 200px;
}

.pink-circle {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 200px 0 70px #FAF1E5;
    top: 100px;
    right: 350px;
}

.pink-2 {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 200px 0 70px #FAF1E5;

    bottom: 100px;
    left: 40px;
}



/* ==================================responsiveness================ */


@media screen and (max-width: 700px) {
    .container {
        height: auto;
    }
    .pricing-table {
        width: 90vw;
    }
    .card-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
    .price-card {
        box-shadow: 1px 1px 5px black;
        padding: 8px;
        border-radius: 5px;
    }
}

@media screen and (max-width: 500px) {
    .container {
        height: auto;
    }
    .card-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
    .price-card {
        box-shadow: 1px 1px 5px black;
        padding: 8px;
        border-radius: 5px;
    }
}